*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font;
    src: url(./font-family/Montserrat-Regular.ttf);
  }

.container{
    /* border: solid ; */
    width: 80%;

    margin: auto;
    /* height: 50rem; */
    font-family: font;  
}
.main div{
   display:flex ;
   
}
.header{
    text-align: center;
   margin: 1.5rem;
}
.selection1{
    width: 50%;
}
.selection1 div{
    display: flex;
    flex-direction: column;
    
}
/* .selection1__div{
    margin: 1.5rem 0;
} */
.selection1__div--input{
    margin: 0.8rem 0;
    height: 2.2rem;
    width: 99%;
    border-radius: 0.3rem;
    border: 1px solid #808080;
}
 input{
    margin: 0 3rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    max-width: inherit;
    /* border: 1px solid red; */

}
input,#option{
    outline: 0;
}
h2{
    height: 2.5rem;
    font-size: 1.2rem;
}

.select{
    height: 5rem;
    width: 100% ;
    /* border:  solid red; */
   
  
}
.select1{
    /* border:  solid blue; */
    width: 30%;
}
.select__left{
   
    width: 120px;
    position: relative;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 5px;
    margin-top: 10px;
}
.select__right{
    margin-top: 10px;
    border: 1px solid #808080;
    border-radius: 5px;
}
.select2{
    /* border:solid teal; */
    width: 74%;
    position: relative;
    left: 145px;
    bottom: 65px;
    display: flex;
}
#option{
    border: none;
    width: 90px;
    position: absolute;
    left: 25px;
    top: -16px;
   
}

select{
    height: 2.4rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    
}