#main{
    background-color: chartreuse;
    width: 100%;
    height: 1500px;
    margin: 25px;
    /* margin verdiğimde relative değerler kendini buna göre ayarlıyor. Yeni verilen margin değerini (0,0) orjin noktası gibi alıyor. Absolute ilk başlangıç noktasına göre işlem yapıyor. */
  
}

#box1{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    position: absolute; 
    /* absolute dediğimde margine bakmaksızın 
    ekranın en üstünden başlayarak 250px aşağıya 
    iniyor. diğer boxlar sanki o aradan çıkmışçasına onun yerini dolduruyor. Aslında absolute ile kendi yerini net belirlerken diğerlerini yerlerinden ediyor. Bütün düzen bozuluyor. Bu yüzden tehlikeli kullanım... */
    top: 250px;
    left: 400px;
}


#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(145, 23, 156);
    border-radius: 20px;
    position: relative;
    /* relative ile verdiğim degerlere marjin değerleri de eklenerek yerini bulunuyor. absolute ile arasındaki ikinci fark diğer boxlar sanki relative verilen boxumuz yerinden ayrılmamış gibi onun yerini doldurmuyorlar.  */
    top: 150px;
    left: 100px;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: rgb(59, 37, 156);
    position: relative;
}

#box4{
    background-color: pink;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    position:fixed;
    /* fixed değeri girdiğimde absolute de olduğu gibi ekranın en üst noktasını 0 alarak 100 aşağısına ekranın 50 soluna kendini sabitledi. scroll barı çevirsemde ekran da aynı noktada kaldı. Ayrıca ardından gelen boxun yerini değiştirmesine sebep oldu.(Absolute ile aynı oldu)*/
    top: 100px;
    right: 50px;
}
#box5{
    background-color: red;
    width: 50px;
    height: 50px;
    position:sticky;
    /* sticky değeri girdiğimde fixed ve absolute de olduğu gibi ekranın en üst noktasını 0 alarak yerini ayarlıyor. Ancak fixed positiondan farklı olarak scroll barı çevirdiğimde ekranla birlikte hareket ediyor positiona girdiğiniz değerlere geldiğinde ekrana yapışıyor.
     
    Ayrıca positiona sticky verdiğimde diğer elemanlar hiç etkilenmedi. Ancak önünde (üzerinde) box kutusu olduğundan dolayı verdiğim top değerleri halihazırda boxumuzun bulunduğu yeri geçinceye kadar uygulanamadı.*/
    left: 100px;
    top: 120px;
    
    
}

