@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: rgb(0, 0, 0);
  padding: 20px 10px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 900;
  /* letter-spacing: 2px; */
}

.navbar a:hover {
  background-color: #f5f7fa;
  color: #e47911;
  border-bottom: 2px solid #ff9900;
}

.header {
  height: 140px;
  background-color: #078294;
  text-align: center;
  color: #fff;
  margin-top: 2px;
}
.header p {
  font-size: 60px;
  padding: 1rem 0 0.2rem;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 1040px) and (min-width: 769px) {
  .navbar a {
    font-size: 12px;
  }
  .header p {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 556px) {
  .navbar a {
    font-size: 12px;
  }
  .header p {
    font-size: 30px;
  }
}
@media screen and (max-width: 555px) {
  .navbar a {
    font-size: 10px;
  }
  .header p {
    font-size: 24px;
  }
}
